
{% extends 'base.html' %}

{% block content %}

<style>
    body {

        background: rgb(242, 68, 29);
        background: radial-gradient(circle, rgba(242, 68, 29, 1) 0%, rgba(123, 5, 140, 1) 85%);
        height: 100vh;
    }

    h2, h3{color: white;}
    </style>

   

{% if messages %}
<div class="alert-messages">
    {% for message in messages %}
    <div class="alert {{ message.tags }}">
        {{ message }}
    </div>
    {% endfor %}
</div>
{% endif %}

<div class="container">    
    <!-- Date picker form -->
    <form method="get" action="" style="padding: 20px; background-color: white; margin-top: 20px; border-radius: 10px;">
        <!-- Existing date picker -->
        <label for="date-picker">Select a date:</label>
        <input type="date" id="date-picker" name="date" value="{{ selected_date }}" style="margin-right: 10px;">
        <!-- New filters -->
        <label for="gender">Gender:</label>
        <select id="gender" name="gender" style="margin-right: 10px;">
            <option value="">Any</option>
            <option value="Men" {% if is_gender_men %} selected {% endif %}>Men</option>
            <option value="Women" {% if is_gender_women %} selected {% endif %}>Women</option>
            <option value="Mixed" {% if is_gender_mixed %} selected {% endif %}>Mixed</option>
        </select>
    
        <label for="level">Level:</label>
        <select id="level" name="level" style="margin-right: 10px;">
            <option value="">Any</option>
            <option value="Beginner" {% if is_level_beginner %} selected {% endif %}>Beginner</option>
            <option value="Intermediate" {% if is_level_intermediate %} selected {% endif %}>Intermediate</option>
            <option value="Advanced" {% if is_level_advanced %} selected {% endif %}>Advanced</option>
        </select>
    
        <label for="part-of-day">Part of the Day:</label>
        <select id="part-of-day" name="part_of_day" style="margin-right: 10px;">
            <option value="">Any</option>
            <option value="morning" {% if is_part_of_day_morning %} selected {% endif %}>Morning</option>
            <option value="afternoon" {% if is_part_of_day_afternoon %} selected {% endif %}>Afternoon</option>
            <option value="evening" {% if is_part_of_day_evening %} selected {% endif %}>Evening</option>
        </select>
    
        <button type="submit" style="background-color: #7b058c;border-radius: 10px; color: white; padding: 5px 10px; border: none;">Show
            Slots</button>
    </form>
    
    <!-- Available slots -->
    <div class="col-md-12"> <!-- Adjusted to match the filter's column width -->
        <h2>Available Time Slots</h2>
        <div class="scrollable-container" style="overflow-x: auto; white-space: nowrap; padding-bottom: 10px;">
            {% for item in courts_with_slots %}
            <div class="court card d-inline-block"
                style="width: 49%; margin-right: 10px; border: 1px solid #ddd; vertical-align: top;">
                <!-- Adjusted width to fit two cards in a row -->
                <div class="row g-0">
                    <div class="col-md-6"
                        style="background: url('{{ item.court.image.url }}') no-repeat center center; background-size: cover;">
                        <!-- Fallback text if no image is available -->
                        {% if not item.court.image %}
                        <p class="p-2">No image available.</p>
                        {% endif %}
                    </div>
                    <div class="col-md-6">
                        <div class="card-body" style="padding: 10px;">
                            <h5 class="card-title" style="margin-bottom: 10px;">
                                {{ item.court.name }}
                                <!-- Display map link if exists -->
                                {% if item.court.map_link %}
                                <a href="{{ item.court.map_link }}" target="_blank"
                                    class="ms-2 small text-decoration-none">Map - Click Here</a>
                                {% endif %}
                            </h5>
                            <p class="card-text"><small class="text-muted">Location: {{ item.court.location }}</small></p>
                            <!-- Check for available time slots -->
                            {% if item.slots %}
                            <form action="{% url 'reserve' item.court.id %}" method="post">
                                {% csrf_token %}
                                <div class="court-time-slots">
                                    {% for slot, available_slots, slot_range in item.slots %}
                                    <div style="margin-bottom: 10px;">
                                        <label for="slot-{{ slot.id }}"
                                            style="display: block; margin-bottom: 5px; white-space: normal;">
                                            {{ slot.date }} - {{ slot.template.start_time|date:"H:i" }} to {{slot.template.end_time|date:"H:i" }} - {{ available_slots }} slots available ({{slot.template.level.name }} - {{ slot.template.player_type.name }})
                                        </label>
                                        <input type="hidden" name="slot_id_{{ slot.id }}" value="{{ slot.id }}">
                                        <select name="slot_count_{{ slot.id }}" id="slot-{{ slot.id }}"
                                            style="padding: 5px; width: 100%;">
                                            <option value="0">Select</option>
                                            {% for i in slot_range %}
                                            <option value="{{ i }}">{{ i }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    {% endfor %}
                                </div>
    
                                {% if user.is_authenticated %}
                                <input type="hidden" name="date" value="{{ selected_date }}">
                                <button type="submit" class="btn btn-warning"
                                    style="background-color: #ffc107; color: black; padding: 5px 10px; border: none;">Reserve</button>
                                {% else %}
                                <p>Please log in to reserve.</p>
                                {% endif %}
                            </form>
                            {% else %}
                            <p>No availability for the selected dates.</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    
    <!-- Full Court Date Picker Form -->
    <form method="get" action="" style="padding: 10px; border: 1px solid #ddd; margin-top: 20px;">
        <!-- Full Court Date Picker -->
        <label for="full-court-date-picker">Select a date for full court:</label>
        <input type="date" id="full-court-date-picker" name="full_court_date" value="{{ full_court_selected_date }}"
            style="margin-right: 10px;">
    
        <!-- Full Court Part of the Day Selector -->
        <label for="full-court-part-of-day">Part of the Day:</label>
        <select id="full-court-part-of-day" name="full_court_part_of_day" style="margin-right: 10px;">
            <option value="">Any</option>
            <option value="morning" {% if is_full_court_part_of_day_morning %} selected {% endif %}>Morning</option>
            <option value="afternoon" {% if is_full_court_part_of_day_afternoon %} selected {% endif %}>Afternoon</option>
            <option value="evening" {% if is_full_court_part_of_day_evening %} selected {% endif %}>Evening</option>
        </select>
    
        <button type="submit" style="background-color: #7b058c;border-radius: 10px; color: white; padding: 5px 10px; border: none;">Show Full
            Courts</button>
    </form>
    
    <!-- Full Court Booking Section -->
    <div class="full-court-booking" style="margin-top: 20px;">
        <h2>Book Full Court</h2>
        {% if full_courts_with_slots %}
        <div class="scrollable-container" style="overflow-x: auto; white-space: nowrap; padding-bottom: 10px;">
            {% for item in full_courts_with_slots %}
            <div class="court card d-inline-block"
                style="width: 49%; margin-right: 10px; vertical-align: top; background-color: white; border-radius: 10px;">
                <div class="row g-0">
                    <div class="col-md-6"
                        style="background: url('{{ item.court.image.url }}') no-repeat center center; background-size: cover;">
                        <!-- Fallback text if no image is available -->
                        {% if not item.court.image %}
                        <p class="p-2">No image available.</p>
                        {% endif %}
                    </div>
                    <div class="col-md-6">
                        <div class="card-body" style="padding: 10px;">
                            <h5 class="card-title">
                                {{ item.court.name }}
                                <!-- Display map link if exists -->
                                {% if item.court.map_link %}
                                <a href="{{ item.court.map_link }}" target="_blank"
                                    class="ms-2 small text-decoration-none">Map - Click Here</a>
                                {% endif %}
                            </h5>
                            <p class="card-text"><small class="text-muted">Location: {{ item.court.location }}</small></p>
                            <!-- Form for submitting full court booking -->
                            {% if user.is_authenticated %}
                            <form method="post" action="{% url 'reserve' item.court.id %}" style="margin-top: 10px;">
                                {% csrf_token %}
                                <!-- Display available timeslots for full court booking -->
                                {% for timeslot in item.full_court_slots %}
                                <div style="margin-bottom: 10px;">
                                    <input type="radio" name="full_court_timeslot_id" id="timeslot-{{ timeslot.id }}"
                                        value="{{ timeslot.id }}">
                                    <label for="timeslot-{{ timeslot.id }}" style="white-space: normal;">
                                        {{ timeslot.date }} - {{ timeslot.template.start_time|date:"H:i" }} to {{timeslot.template.end_time|date:"H:i" }}
                                    </label>
                                </div>
                                {% endfor %}
                                <input type="hidden" name="book_full_court" value="1">
                                <input type="hidden" name="court_id" value="{{ item.court.id }}">
                                <input type="hidden" name="selected_date" value="{{ selected_date }}">
                                <button type="submit" class="btn btn-warning"
                                    style="background-color: #ffc107; color: black; padding: 5px 10px; border: none;">Book
                                    Full Court</button>
                            </form>
                            {% else %}
                            <p>Please log in to book.</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <p>No full courts available for the selected date.</p>
        {% endif %}
    </div>
{% endblock %}