{% extends 'base.html' %}
{% load static %} <!-- Add this line -->
{% block content %}

<style>
    body {
        background:white;
        
        height: 100vh;
    }

    .form-container {
        padding: 20px;
        border-radius: 10px;
        margin-top: 20px;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        background-color: #f8f8f8;
    }

    .form-section {
        margin-bottom: 10px;
    }

    .form-header {
        text-align: center;
        margin-bottom: 40px;
    }

    .form-group {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }

   .form-field {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .form-label {
 
        min-width: 150px;
        margin-right: 10px;
    }

    .form-input {
        flex-grow: 1;
    }

    .file-upload {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }


    .submit-button {
        display: block;
        margin: 50px auto;
        background-color: #7b058c;
        width: 40%;
        color: white;
        padding: 5px 10px;
        border: none;
        cursor: pointer;
    }

    input[type='text']:-webkit-autofill,
    input[type='email']:-webkit-autofill,
    input[type='password']:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 30px white inset !important;
    }

    .form-body {
    display: flex;
    }

    .user-image {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 20px;
    }

    .user-image img {
        border-radius: 50%;
        width: 150px;
        height: 150px;
        object-fit: cover;
    }

    .form-fields {
        flex: 3;
    }
    

    
</style>



<div class="form-container">
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        <div{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}
    </div>
    {% endfor %}
    </div>
    {% endif %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-header">
            <h2>User Details</h2>
        </div>
        <div class="form-body">
            <div class="user-image">
                <!-- Display the user's image or a placeholder if no image is available -->
                {% if request.user.profile.image %}
                <img src="{{ request.user.profile.image.url }}" alt="User Image" />
                {% else %}
                <img src="{% static 'images/avatar.png' %}" alt="Default Image" />
                {% endif %}           
           
                <input type="file" name="{{ profile_form.image.name }}" id="{{ profile_form.image.id_for_label }}">
            </div>
            <div class="form-fields">
                {% for field in user_form %}
                <div class="form-field">
                    <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}:</label>
                    {{ field }}
                </div>
                {% endfor %}
                <!-- Exclude the image field from this loop -->
                {% for field in profile_form %}
                {% if 'image' not in field.label|lower %}
                <div class="form-field">
                    <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}:</label>
                    {{ field }}
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        <button type="submit" class="submit-button">Update</button>
    </form>
</div>

{% endblock %}